* {
  padding: 0;
  border: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  margin-top: 30pt;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.7);
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 24px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.navbar {
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
  padding-right: 70px;
}

#logo {
  height: 55px;
  margin: 40pt 20pt 0 70pt;
  top: 0pt;
  position: absolute;
}

.background-img-wood {
  background-image: url(image/background-wood.jpg);
  top: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

main {
  margin-top: 55pt;
  height: 65vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);
}

#main-img-box {
      width: 60vw;
      height: 100%;
      background-image: url("image/coffeefarmer.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top left;
  }

#main-textbox {
  width: 33.33%;
  height: 100%;
  float: right;
  top: 10px;
  margin: 30px 30px 40px 0;
}

.main-h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
  color: white;
  margin-bottom: 25px;
  letter-spacing: 1px;
}

.main-h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: italic;
  color: white;
  font-size: 1em;
  margin-bottom: 15px;
  letter-spacing: 0,7px;


}

.main-h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 1em;
}

.square_btn {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 0.8em;
    position: relative;
    display: inline-block;
    padding: 2em 0em;
    text-decoration: none;
    color: #FFF;
    transition: .4s;

}

.square_btn>span{
    border-bottom: solid 1px #FFF;
    border-top: solid  1px #FFF;
    padding: 5px 0 5px;
}

 .square_btn:hover span {
   padding: 6px 0 6px;
}
